/* Style the header with a grey background and some padding */
body{
  margin:0;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  align-items: center;
}
.header .logo{
  flex-grow: 2;
  height:30px;
  width: 30px;
}
.header .logo>img{
  height:30px;
  width: 30px;
}

.pointer {
  cursor: pointer;
}

.popover{
  width: 100%;
  height: 200px;
  background: #f1f1f1;
  position: fixed;
  bottom: 0;
}

.search-bar{
  flex-grow: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar a{
 text-decoration: none; 
}
input{
  padding: 6px;
  border: none;
  font-size: 17px;
}
.main-area {padding: 2em;}
.cards h2 {font-size: 1.5em;}
/* Flexbox */
@media screen and (min-width: 50em) {
    
    .outer-wrap {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .content {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    .main-area {
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }
  
}

/* Card Based Layout - Base styles */
.main-area{
  margin-top: 30px;
}
.thumbnail>img{
  width:200px;
}
.card {
  margin-bottom: 2em; 
  position: relative;
  display: flex;
  justify-content: center;
}

.card a {
  background: #f1f1f1;
  color: black;
  text-decoration: none;
}

.card :hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  transition: all 0.4s;
}



.card-content {
  padding: 0.4em;
  width: calc(100% - 1em);
  background: black;
  opacity: 0.6;
  position: absolute;
  bottom:0;
  left:0;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: normal;
}

.card-content p {
  text-align: center;
  margin: 0 !important;
  padding: 0;
  color: white;
}
.card-container {}

/* Flexbox stuff */

@media screen and (min-width: 40em) {
    .cards {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-top: -1em;
    }

    .card {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 0 1 calc(50% - .5em);
            -ms-flex: 0 1 calc(50% - .5em);
                flex: 0 1 calc(50% - .5em);
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 39.9em) {
  
  .main-area {padding: 0em;}
  .card {margin-bottom: 0em;} 
}

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }
    
    .card {
        -webkit-flex: 0 1 calc(20%);
            -ms-flex: 0 1 calc(20%);
                flex: 0 1 calc(20%);
        margin-bottom: 2em;
    }
}
