<template>
  <div>
    <custom-header>
    </custom-header>

    <div class="outer-wrap">
      <div class="content">
        <main class="main-area">
          <section class="cards">
            <team-card
              v-for="(team, index) in filteredTeams"
              :key="index+'teams'"
              :id="team.name"
              v-bind="team"
              :openDetailsContainer="openDetailsContainer">
            </team-card>
          </section><!-- .cards -->
        </main>
      </div><!-- .content -->
      <div class="popover" v-if="toShowDetails">
        <p><span>Name: </span><span>{{ name }}</span></p>
        <p><span>Matches Won: </span><span>{{ matchesWon }}</span></p>
      </div>
    </div><!-- .outer-wrap -->
  </div>
</template>
<script>
import Vuex from 'vuex'
import TeamCard from '@/components/home/cards/TeamCard'
import CustomHeader from '@/components/common/CustomHeader'

export default {
  data () {
    return {
      filteredTeams: [],
      teams: [],
      toShowDetails: false,
      name: '',
      matchesWon: 0
    }
  },
  components: {
    TeamCard,
    CustomHeader
  },
  computed: {
    ...Vuex.mapGetters([
      'searchText'
    ])
  },
  watch: {
    searchText (val) {
      if (val === '') {
        this.filteredTeams = this.teams
        this.toShowDetails = false
      } else {
        this.searchTeams(val)
      }
    }
  },
  created () {
    this.teams = require('@/assets/data/teams.json')
    this.filteredTeams = this.teams
  },
  methods: {
    ...Vuex.mapActions({
      'setSearchText': 'setSearchText'
    }),
    searchTeams (search) {
      this.filteredTeams = this.teams.filter(function (team) {
        return team['name'].toLowerCase().includes(search.toLowerCase())
      }.bind(this))
      if (this.filteredTeams.length === 1 && this.filteredTeams[0].name.toLowerCase() === this.searchText.toLowerCase()) {
        this.openDetailsContainer(this.filteredTeams[0])
      } else {
        this.toShowDetails = false
      }
    },
    openDetailsContainer (currentTeam) {
      this.setSearchText(currentTeam.name)
      this.filteredTeams = [currentTeam]
      this.name = currentTeam.name
      this.matchesWon = Math.floor(Math.random(0, 25) * 10)
      this.toShowDetails = true
    }
  }
}
</script>
