<template>
  <article
    class="card">
    <a class="pointer" @click="openDetailsContainer({
      name: name,
      img: img
    })">
      <picture class="thumbnail">
        <img :src="img">
      </picture>
      <div class="card-content">
        <p>{{ name }}</p>
      </div><!-- .card-content -->
    </a>
  </article><!-- .card -->
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    img: {
      type: String,
      default: ''
    },
    openDetailsContainer: {
      type: Function
    }
  },
}
</script>
