<template>
  <div class="header">
    <div class="logo">
      <img class="header-logo" src="@/assets/main-logo.png">
    </div>
    <div class="search-bar">
      <input type="text" id="test-search" placeholder="Search.." v-model="search">
      <a class="pointer" @click="resetSearch()">Cancel</a>
    </div>
  </div>
</template>
<script>

import Vuex from 'vuex'

export default{

  computed: {
    ...Vuex.mapGetters([
      'searchText'
    ]),
    search: {
      get () {
        return this.searchText
      },
      set (val) {
        this.setSearchText(val)
      }
    }
  },
  methods: {
    ...Vuex.mapActions({
      'setSearchText': 'setSearchText'
    }),
    resetSearch () {
      this.setSearchText('')
    }
  }
}
</script>
